*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #3f3f3f;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header {
    height: 100vh !important;
    background: url('../img/5-lenguajes-programación.jpg') no-repeat center;
    background-size: cover;
}

.title {
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;                                                                                                                                                                                                                      
    border: 2px solid #c905ff9e;
    color: #fff;
    text-decoration: none;
    background: #060606;
}

.btn:hover {
    background: none;
    
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}


.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    height: 100%;
    
    background: #1f1d1d
}
.sau2 {
    height: 100%;
    
    background: #1f1d1d
}
.sau3 {
    height: 100%;
    
    background: #1f1d1d
}

.sau4 {
    height: 100%;
    
    background: #1f1d1d
}
.sau5 {
    height: 100%;
    
    background: #1f1d1d
}
.body2 {
    margin : 0;
    padding: 0;
    min-height: 100vh;
    background: white;
    font-style: normal;
    font-family: Arial;
    font-size: 90%;
    background: #1f1d1d;
}

.body2 pre{
    
    margin-left: -120px;
    font-family: Arial;
    margin-top: -110px;

}
.logo2{
    margin: 2px;
   
    text-align: left;
}

.logo2 pre{
    font-size: 20px;
    color: #fff;
    margin-left: 250px;
    font-family: Arial;
    margin-top: -300px;
}
.imagen{
    margin: 10px;
    margin-left: 250px;
    font-family: Arial;
    margin-top: -430px;
}
.logo3{
    margin: 10px;
   
    text-align: left;
}

.logo3 pre{
    font-size: 20px;
    color: #fff;
    margin-left: 250px;
    font-family: Arial;
    margin-top: -700px;
}
.logo4{
    margin: 30px;
   
    text-align: left;
}

.logo4 pre{
    font-size: 20px;
    color: #fff;
    margin-left: -150px;
    font-family: Arial;
    margin-top: -90px;
}
.logo5{
    margin: 10px;
   
    text-align: left;
}

.logo5 pre{
    font-size: 20px;
    color: #fff;
    margin-left: 250px;
    font-family: Arial;
    margin-top: -400px;
}
.sau3--imagenA{
    margin: 10px;
    margin-left: 250px;
    font-family: Arial;
    margin-top: -430px;
}
.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box {
    height: 14rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
    margin: 2rem;   
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #9c27b0;
    font-size: 2rem;
    margin: 1rem 0;

}
.profile{
    margin: 10px;
    border-radius: 50%;
    border:5px solid #9c27b0;
    text-align: center;
}

.box-container .box h3 {
    font-size: 20px;
    color: #9c27b0;

}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

.about {
    background: #171717;
}

.price {
    background: url('../img/costos.jpg') no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}


.contact {
    height: 100%;
    padding-top: 20px;
    background: #1f1d1d;
    padding-bottom: 0;
}


@media (max-width: 1200px) {

    .title {
        margin-bottom: 0;
        font-size: 40px;
    }

    .sau {
        height: 100vh;
    }

    .navbar {
        display: none;
    }
   
   
    
}

/*footer*/
footer {
    padding: 7.9rem 0;
    background-color: #1f1d1d;
    color: #fff;
    text-align: center;
    position: relative;
}

.footer-content {
    overflow: hidden;
}

.footer-content h4 {
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 3rem;
}

.footer-content .circle{
    margin: 2.4rem 0;
}

.footer-content-about {
    margin-bottom: 5.4rem;
}

.footer-content-about p {
    line-height: 2;
}

.social-icons {
    list-style: none;
    margin-bottom: 5.4rem;
    display: flex;
    justify-content: center;
}

.social-icons i {
    font-size: 2rem;
    color: #9c27b0;
    padding: .8rem 2rem;
    
}


.social-icons i:hover,
.social-icons i:focus {
    color: #2357a1;
}

.news-form {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;

}

.news-input {
    width: 100%;
    max-width: 25rem;
    padding: 1rem;
    border-radius: .4rem;
}
.news-btn {
    background: transparent;
    border: none;
    color: #252525;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1px .6rem;
    position: absolute;
    top: 23%;
    margin-left: 15.5rem;
}

/*Hero*/


.hero {
    width: 100%;
    height: 90vh;
    background: url("../img/php.webp") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}

.hero2 {
    width: 100%;
    height: 90vh;
    background: url("../img/python-logo.png") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}

.hero3 {
    width: 100%;
    height: 80vh;
    background: url("../img/ruby.png") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}

.hero4 {
    width: 100%;
    height: 80vh;
    background: url("../img/c2.png") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}

.hero5 {
    width: 100%;
    height: 80vh;
    background: url("../img/nodejs.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}

.head2 {
    color: #fff;
    font-size: 3.7rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
}




.hea-dark {
    color: #e3d6d6;
    margin: 50px;
    letter-spacing: .7rem;
    margin-right: 0rem;
}

.tex {
    color: #ffffff;
    margin: 50px, 50px, 50px, 50px;
    margin-right: -40rem;
}




